<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key="FacebookAppId" value="1103704599790145"/>
  <add key="FacebookAppSecret" value="9301f009b81c6962f7107155174d3948"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>